<%- include("../partials/admin/navigation.ejs") %>
<section class="dashboard-display">
    <h1 class="heading"><center><%-filename%></center></h1>
    <%if(filename=="dogs"){%>
    <div class="button-container">
        <a href="/admin/dashboard/dogs/new">
            <button>Add New Record</button>
        </a>
    </div>
    <%}%>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Name</th>
                    <th>Image</th>
                    <% if(filename =="dogs") {%>
                        <th class="desc">Descriptions</th>
                        <th>Actions</th>
                    <%}%>
                    <% if(filename =="donations") {%>
                        <th class="desc">Views</th>
                        <th>Status</th>
                        <th>Ammount</th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <% if(data != null && filename =="dogs") {%>
                    <% id=1 %>
                    <% for(dog in data){ %>
                        <tr>
                            <td><%- id %></td>
                            <td><%- data[dog].name %></td>
                            <td class="image"><img src="<%- '/'+data[dog].image.slice(7) %>"></td>
                            <td><%- data[dog].description %></td>
                            <td>
                                <select onchange="list_action(this, '<%-data[dog]._id %>');">
                                    <option selected disabled>Select</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <% id=id+1 %>
                    <%}%>
                <%}%>
                <% if(data != null && filename =="donations") {%>
                    <% id=1 %>
                    <% for(donation in data){ %>
                        <tr>
                            <td><%- id %></td>
                            <td><%- data[donation].fname + " " + data[donation].lname %></td>
                            <td class="image"><img src="<%- '/'+data[donation].image.slice(7) %>"></td>
                            <td><%- data[donation].description %></td>
                            <td><%- data[donation].status %></td>
                            <td><%- data[donation].ammount %></td>
                        </tr>
                        <% id=id+1 %>
                    <%}%>
                <%}%>
            </tbody>
        </table>
    </div>

    <% if(data != null && filename =="dogs") {%>
        <script type="text/javascript" src="/javascript/dogs.js"></script>
    <%}%>
</section>
<%- include("../partials/admin/footer.ejs") %>