<%- include("partials/user/header.ejs") %>
<section class="banner-div">
    <p>
         "Dogs do  <span>speak</span>, but only to those who know how to  <span>listen</span>"
     </p>
    <div class="form-container">
        <h1><center>Donate To Us</center></h1>
        <form id="myForm" enctype='multipart/form-data'>
            <label for="fname" >First Name:</label>
            <input type="text" id="fname" name="fname" required>
            <label for="lname" >Last Name:</label>
            <input type="text" id="lname" name="lname" required>
            <label for="image" >Image:</label>
            <input type="file" id="image" name="donateavatar" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="ammount">Donation Ammount(INR):</label>
            <input type="number" id="ammount" name="ammount" required>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="why">Some text you want to add:</label>
            <textarea rows="4" type="text" id="why" name="why" minlength="8">
            </textarea>
            <div>
                <center>
                    <input id="donate" type="submit" value="Donate">
                </center>
            </div>
         </form>
    </div>
</section>
<section class="profile-card">
    <h1>Top Donators</h1>
    <div id="cards">
        <% if(data != null) {%>
            <% for(donator in data){ %>
                <div class="card">
                    <div class="card-image">
                        <img src="<%- '/'+data[donator].image.slice(7) %>">
                    </div>
                    <div class="card-header">
                        <%- data[donator].fname +" "+ data[donator].lname %>
                    </div>
                    <div class="card-desc">
                        "<%- data[donator].description %>"
                    </div>
                </div>
            <%}%>
        <%}%>                  
    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js" integrity="sha512-RjvSEaeDqPCfUVQ9kna2/2OqHz/7F04IOl1/66LmQjB/lOeAzwq7LrbTzDbz5cJzlPNJ5qteNtHR56XaJSTNWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.getElementById("myForm").onsubmit = function (event) {
        event.preventDefault();
        const myFormData = new FormData(event.target);
        axios.post('/donate/makepayment', myFormData, {
            headers: {
            "Content-Type": "multipart/form-data",
            }
        }).then((response) => {
            const data = response.data;
            var options = {
                key: data.key,
                amount: data.ammount,
                currency: "INR",
                name: "PAW",
                description: "Test Transaction",
                image: "https://example.com/your_logo",
                order_id: data.orderId,
                callback_url: data.callBackUrl,
                prefill: {
                    name: data.name,
                    email: data.email,
                    contact: data.phone,
                },
                theme: {
                    color: "#3399cc",
                },
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }, (error) => {
            console.log(error);
        });

        event.preventDefault();
    };
</script>
<%- include("partials/user/footer.ejs") %>