<%- include("partials/user/header.ejs") %>
        <section class="banner-div">
            <p>
            "you can't change a dog's <span>past</span>, but you can rewrite the <span>future</span>"
            </p>
        </section>
        <section id="dog-profiles">
            <h1>Lives We Have Saved</h1>
            <div id="cards">
                <% if(data != null) {%>
                    <% for(dog in data){ %>
                        <div class="card">
                            <div class="card-image">
                                <img src="<%- '/'+data[dog].image.slice(7) %>">
                            </div>
                            <div class="card-header">
                                <%- data[dog].name %>
                            </div>
                            <div class="card-desc">
                                "<%- data[dog].description %>"
                            </div>
                        </div>
                    <%}%>
                <%}%>                
            </div>
        </section>
<%- include("partials/user/footer.ejs") %>